
/*index */

* {
    margin: 0px;
    background-color: #FEFEF2;
    max-width: 100%;
   

}

/*header*/
#header {
    width: 100%;
    top: 0;
    min-height: 70px;
    padding: 0px 0px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 244, 0.9);
    z-index: 1;
}


.logo{width: 10%;
    background: none;

}


#header-img {
    width: 22vw;
    margin: 5px 0px;
    background: none;
}

#menu, #menu-check{
    display:none;
}

h2 {
    font-size: 2.5vw;
    margin: 0px -10px;
    padding: 0px 0px;
    font-family: 'raleway';
    background: transparent;    

}

#nav1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.vw;
    font-family: 'raleway';
    background: transparent;
    
}


nav li {
    padding: 5px;
    background: transparent;
}

nav li:hover {
    text-decoration: underline;
}

#nav-bar {
    background: transparent;
}

a {
    text-decoration: none;
    color: black;
    background: transparent;

}

/*Agendas*/

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    margin-top: 10vw;
    
}
.contenedor2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 14vw;
    margin-top: 0vw
}
.titulo1 {
    width: 100%;
    text-align: left;
    margin-left: 1%;
    font-size: 2.5vw;  
    font-family: 'raleway';
}
.titulo2 {
    width: 100%;
    text-align: right;
    margin-right: 2%;
    list-style: none;
    font-size: 2.5vw;
    font-family: 'raleway';
}
#contenedorfotos {
    margin-top: 2%;
    width: 100%;
    display: flex;

}
#contenedorfotos2 {
    width: 100%;
    display: flex;
    margin-top:3%;

}
#AgendP{
    width: 80%;
    
}
#Accesorios{
    width: 80%;
    
}

/* seccion media*/
.seccion-media{
    
   display:flex;
margin-left: 8%;
   margin-top:5%;
   width: 90%;
    
   
}
.titulo-media{
    font-size: 2vw;
    font-family: 'Ubuntu';

}
.descripcion-media{
    display: flex;
    justify-content: space-around;

}
.descrip-media{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold; 
}
.descripagenda{
    font-size: 1vw;
    font-family:'Ubuntu';

}
.tarjeta {

    width: 100%;
    margin: 0px;
    padding: 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
    background: transparent;
}

.tarjeta:hover {
    transform: translateY(-3%);
    box-shadow: 0px 1px 10px;
}
.tituloagenda{
    font-size: 3vw;
}

.iconos {
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 1
    0%;    
    background: transparent;
}

i {
    background: transparent;
font-size: 2.2vw;
margin-top: 1.5%;
margin-bottom: 2%;


}

li {
    background: transparent;
}

.titulo-informacion{
    font-weight: bold;

}
.footerlist {
    display: flex;
    justify-content: space-around;   
    margin-top: 1%;
    padding: 20px 20px;
    font-size: 1.4vw;
    font-family: 'raleway';    
    background:transparent;
  
          
    }
    iframe{ width: 30vw;
    height: 12vw;}
li{list-style: none;

}
.informacion {background: transparent;}


span {
    background: transparent;
}

.copy {
    font-size: 2vw;
    font-family: 'allura';
    color: white;
}


/*formulario*/
body {
    background-color:#FEFEF2;
}

#formulario{
    margin-top: 10%;
    margin-left: 20%;
background-color: #FEFEF2;
    
}

/*Responsive*/

@media (max-width:768px) {
#header{
    justify-content: flex-start;
   
    
}
   
    .contenedor {
        margin-top: 20%;
    }
    #menu-check:not(:checked) ~ nav{
        display:none; 
    }
    #menu-check:checked~ nav{
        display: block;
    }
        #menu-check:checked~.logo {
            display: flex;
            justify-content: flex-start;
        }
        .logo {
            width: 19vw;
            margin-left: 10%;
    
        }
    #menu{
        display: block;
        
        font-size:2.5em ;
        font-weight: bold;       
        position:absolute;
        right: 0.5em;
        top:0.5em;
        z-index: 9999;
        
    }

    #menu:hover{
        
        border:1px solid; 
        border-radius: 0.2em;
    }
    #menu-cerrar{
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar{
        display: block;
    }

    #header #nav-bar{
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        
        padding-top:0.5em;
        padding-right: 2.5em;
        opacity: 0.8;
        font-size: 1.8em;
        
    }

    #header #nav-bar ul, #header #nav-bar ul li {
        display: block;
        text-align: right;
        font-size: 1.1em;

    } 
    #contenedorfotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;        

    }

    #contenedorfotos2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;


    }

    .tarjeta {
        width: 35%;
    }

    h2 {
        display: none;
    }


    #nav1 {
        font-size: 2vw;
    }
.descripagenda {
   display: none;}

.descrip-media {
    display: none;
}
.seccion-media{
    display:flex;
    flex-wrap: wrap;
}
.titulo1{ font-size: 4vw;
text-align: center;}
.titulo2{font-size: 4vw;
text-align: center;}


#accesorio2{display: none;}

#marcador5{display: none;}
.footerlist { 
  
    font-size: 1.8vw;
  
}



}
@media (max-width:500px) {
    .logo {
        width: 18vw;
    }

    .contenedor {
        margin-top: 20%;
    }

    #contenedorfotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


    }

    #contenedorfotos2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;


    }

    .tarjeta {
        width: 35%;
    }

    h2 {
        display: none;
    }


    #nav1 {
        font-size: 2vw;
    }

    .descripagenda {
        display: none;
    }

    .descrip-media {
        display: none;
    }

    .seccion-media {
        display: flex;
        flex-wrap: wrap;
    }

    .titulo1 .titulo2 {
        font-size: 4vw;
        text-align: center;
    }

      #accesorio2 {
        display: none;
    }

    #marcador5 {
        display: none;
    }
#agenda3 {
    display: none;
}

#accesorio1 {
    display: none;
}

#marcador4 {
    display: none;
}

#marcador3 {
    display: none;
}
    .footerlist {

        font-size: 1.8vw;

    }


}

